@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Montserrat&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css") ;

h1,h2,h3 {
  margin:0 ;
}

:root {
      --black: #171321;

  --white : #D8FFDB ;
  --lime : #A0CD60 ;
  --blue : #1C646D ;
  --brown : #1F0802 ;
  --purple : #38184C ;
/*  --dkblue : #042326;
*/
  --dkblue : #1A1931 ;
  --magenta: #e310cb;
  --hotmag: #ff17e4;
  --seashell : #F7D6D0 ;
  --peach : #FFE5B4 ;
      --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
        --dkblue2: #0d314b;


}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  background-color: var(--dkblue);
}

/*body{
  padding:50px;
  background:#fff;
}*/


nav {
  background-color:var(--dkblue) ;
  font-size:80% ;
  padding:1rem ;
  
}

nav ul {
  list-style-type : none ;
  padding:0 ;
  margin:0 ;
  display:flex ;
  flex-flow : row wrap ;
  justify-content :center ;
  align-items :center ;
  gap : 2rem ;
  
}
nav a {
    text-decoration:none ;
  color:var(--white) ;
  display : block ;
}


nav a:hover {
  color : var(--lime) ;
}

nav li:first-child{
  font-size: 130%;
  flex-basis:100% ;
  text-align:center ;
}

@media(min-width : 850px) {
  
  nav{margin : 0 auto ;
  max-width : 1250px ;}

  nav li:first-child {
    flex-basis : auto ;
    text-align : left ;
    margin-right : auto ;
  }
}

.login{
  background-color : var(--magenta) ;
  padding : 0.5rem ;
  border-radius : 5px ;
}

.login:hover {
  color : var(--white) ;
  background-color : var(--hotmag) ;
}

nav [class*="fa-"]{
  font-size : 140% ;
  color : var(--aqua) ;
}

nav [class*="fa-"]:hover{
  color : var(--magenta) ;
}


.wrapper{
  width:70%;
}
@media(max-width:992px){
 .wrapper{
  width:100%;
} 
}
.panel-heading {
  padding: 0;
  border:0;
}
.panel-title>a, .panel-title>a:active{
  display:block;
  padding:15px;
  color:var(--dkblue);
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1px;
  word-spacing:3px;
  text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
} 


/*Adding the code for the trying it button
*/
#tryit{
  text-align: center;
  text-decoration: none;
  }

.draw-border {
   box-shadow: inset 0 0 0 4px #58afd1;
   color: #58afd1;
   transition: color 0.25s 0.0833333333s;
   position: relative;
}
 .draw-border::before, .draw-border::after {
   border: 0 solid transparent;
   box-sizing: border-box;
   content: '';
   pointer-events: none;
   position: absolute;
   width: 0;
   height: 0;
   bottom: 0;
   right: 0;
}
 .draw-border::before {
   border-bottom-width: 4px;
   border-left-width: 4px;
}
 .draw-border::after {
   border-top-width: 4px;
   border-right-width: 4px;
}
 .draw-border:hover {
   color: #ffe593;
}
 .draw-border:hover::before, .draw-border:hover::after {
   border-color: #ffe593;
   transition: border-color 0s, width 0.25s, height 0.25s;
   width: 100%;
   height: 100%;
}
 .draw-border:hover::before {
   transition-delay: 0s, 0s, 0.25s;
}
 .draw-border:hover::after {
   transition-delay: 0s, 0.25s, 0s;
}
 .btn {
   background: none;
   border: none;
   cursor: pointer;
   line-height: 1.5;
   font: 700 1.2rem 'Roboto Slab', sans-serif;
   padding: 1rem 2rem;
   letter-spacing: 0.05rem;
   margin: 2rem;

}
 .btn:focus {
   outline: 2px dotted #55d7dc;
}

