<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Research Papa</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/uploader.css')}}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="{{url_for('static',filename='js/uploader.js')}}"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <nav>
  <ul>
    <li> <h3><a href="{{url_for('simple')}}"><i class="fa-solid fa-book-open"></i>&ensp;Research Papa</a></h3></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="https://github.com/PuruBehl"><i class="fab fa-github"></i><span class="sr-only">Github</span></a></li>
    <li><a href="#Login" class="login">Login</a></li>
  </ul>
</nav>

<div class="wrapper center-block">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for e in dictionary_headings %}

     <div class="panel panel-default">
    <div class="panel-heading active" role="tab" id="head">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{dictionary_headings[e][1]}}" aria-expanded="false" aria-controls="{{dictionary_headings[e][1]}}">
          {{e}}
        </a>
      </h4>
    </div>
    <div id="{{dictionary_headings[e][1]}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="head">
      <div class="panel-body">
       {{dictionary_headings[e][0]}}
      </div>
    </div>
  </div>


    {% endfor %}
  </div>
</div>
</body>
</html>