<!-- 
<html>
   <body>
      <form action = "https://research-papa.herokuapp.com/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   
   </body>
</html>
 -->



<!-- <html>
<head>
   <title>upload document - research papa</title>
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/upload.css')}}">
   <script type="text/javascript" src="{{url_for('static',filename='js/upload.js')}}"></script>
</head>
   <body>
      <form action = "http://127.0.0.1:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" class="submit"/>
      </form>   
   </body>
</html>
 -->
 <html>
<head>
   <title>upload document - research papa</title>
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/upload.css')}}">
   <script type="text/javascript" src="{{url_for('static',filename='js/upload.js')}}"></script>
</head>
   <body>
 <form action="http://127.0.0.1:5000/uploader" method="POST" enctype = "multipart/form-data">
  <input type="file" name="file" />
  <p>Drag your files here or click in this area.</p>
  <button type="submit">Upload</button>
</form>
   </body>
</html>